[package]
name = "wallpapy"
version = "0.7.0"
edition = "2024"

[dependencies]
log = "0.4.28"
anyhow = "1.0.100"
bincode = { version = "2.0.1", features = ["serde"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
parking_lot = "0.12.5"
uuid = { version = "1.18.1", features = ["v4", "fast-rng", "js", "serde"] }
thumbhash = "0.1.0"
chrono = { version = "0.4.42", features = ["serde"] }
image = { version = "0.25.9", default-features = false, features = [
    "jpeg",
    "webp",
] }
bitflags = "2.10.0"
schemars = "1.1.0"

# GUI dependencies
egui = { version = "0.33.2", features = ["serde"], optional = true }
eframe = { version = "0.33.2", default-features = false, features = [
    "default_fonts",
    "glow",
    "persistence",
    "wayland",
], optional = true }
egui-notify = { version = "0.21.0", optional = true }
ehttp = { version = "0.5.0", optional = true }
egui_extras = { version = "0.33.2", features = [
    "http",
    "image",
    "webp",
], optional = true }
egui_pull_to_refresh = { version = "0.10.0", optional = true }
egui_thumbhash = { version = "0.9.0", optional = true }
egui-phosphor = { git = "https://github.com/amPerl/egui-phosphor", rev = "d13688738478ecd12b426e3e74c59d6577a85b59", optional = true }

# WebAssembly dependencies
[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = "=0.3.81"
web-sys = "=0.3.81"
wasm-bindgen = "=0.2.104"
wasm-bindgen-futures = "=0.4.54"

# Server dependencies
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
simple_logger = "5.1.0"
dotenvy = "0.15.7"
reqwest = { version = "0.12.24", default-features = false, features = [
    "charset",
    "rustls-tls",
    "http2",
    "json",
] }
tokio = { version = "1.48.0", features = ["full"] }
ron = "0.12.0"
axum = { version = "0.8.7", default-features = false, features = [
    "http1",
    "tokio",
] }
tower-http = { version = "0.6.6", features = [
    "fs",
    "async-compression",
    "compression-deflate",
    "compression-gzip",
] }
rand = "0.9.2"
argon2 = { version = "0.5.3", features = ["std"] }
mime_guess = "2.0.5"
webp = "0.3.1"

[features]
default = ["gui"]
gui = [
    "egui",
    "eframe",
    "egui-notify",
    "ehttp",
    "egui_extras",
    "egui_pull_to_refresh",
    "egui_thumbhash",
    "egui-phosphor",
]

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
cast_precision_loss = "allow"
cast_sign_loss = "allow"
cast_possible_truncation = "allow"
too-many-lines = "allow"

[profile.release]
opt-level = 3
lto = true

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 2
